<%= render :partial => 'spree/admin/shared/homepage_block_tabs', :locals => { :current => 'Hompage Block Details' } %>

<%= form_for(:homepage_block_image, :url => admin_homepage_block_homepage_block_image_url(@homepage_block), :html => { :method => :put, :multipart => true }) do |f| %>
  <table class="basic-table">
    <tr>
      <td><%= t("thumbnail") %>:</td>
      <td><%= link_to(image_tag(@homepage_block_image.attachment.url(:small)), @homepage_block_image.attachment.url(:standard)) %></td>
    </tr>
    <%= render :partial => "form", :locals => { :f => f } %>
  </table>
  <p class="form-buttons">
    <%= button t("update") %>
    <%= t('or') %> <%= link_to t("cancel"), admin_homepage_blocks_url, :id => "cancel_link" %>
  </p>
<% end %>
